<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <footer>
        <div class="about">
          <h1><span class="logo-text">Travel </span> <span>Blogs</span></h1>
          <p>
            Share your experience and make others feel easy to travel, and explore
            more the world. Adventures are waiting for you, Get ready
          </p>
          <!-- Contacts -->
          <div class="contact">
            <span>
              <i class="fas fa-phone"></i>
              + 91(1237894560)
            </span>
            <span>
              <i class="fas fa-envelope"></i>
              
              <a href="mailto:pavan94901@gmail.com">
                pavan94901@gmail.com
              </a>
            </span>
    
          </div>
          <!-- socials -->
          <div class="socials">
            <a href="https://www.youtube.com/c/inovotek-academy">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.youtube.com/c/inovotek-academy">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/c/inovotek-academy">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.youtube.com/c/inovotek-academy">
              <i class="fab fa-facebook"></i>
            </a>
           
      </footer>
</body>
</html>
