footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: #003049;
  color: #ffff;
  margin-top: 30px;
}

footer .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  color: #8d99ae;
}

.logo-text {
  font-size: 4.5rem;
  font-weight: bold;
  color: #ffbe0b;
}

footer .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #fff;
  margin-bottom: 1px;
  font-size: 1.5rem;
}

footer .contact span {
  padding: 10px;
}
footer .contact i {
  padding: 10px;
  font-size: 30px;
}

footer .contact a {
  text-decoration: none;
  font-size: 30px;
  color: #0077b6;
}

footer .socials a {
  margin: 10px;
  font-size: 30px;
  color: #fcbf49;
  text-decoration: none;
}
