/* Nav */
nav {
  width: 100%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

nav img {
  width: 100px;
  margin: 4px;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 2px;
}
nav ul li {
  padding: 3px;
  margin-bottom: 5px;
}
nav ul li a {
  text-decoration: none;
}

.logout-btn {
  background-color: #ff5a5f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
@media (min-width: 675px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
  nav ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
  }
  nav ul li {
    padding: 30px;
  }
}
